/* You can add global styles to this file, and also import other style files */
.banner {
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  border: 1px solid transparent;
}

.banner--active {
  background-color: teal;
}

.banner--inactive {
  background-color: darkgrey;
  border: 1px dashed black;
}

.banner h2 {
  font-weight: bold;
  font-family: arial;
}