/* You can add global styles to this file, and also import other style files */
body {
  background-color: #CECECE;
}

img {
  display: block;
  height: auto;
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center;
}